@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200&display=swap');

*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: dotted 1px purple;
    color: white;
    background-color: rgb(40, 40, 40);
}


.item{
    display: inline;
}

.sample{
    height: auto;
    width: 200px;
}

.info{
    height: 150px;
    width: 150px;
    display: inline;
    position: relative;
}
